<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Exercice 2 - Réponse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/app/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

</head>
<body ng-app="app">
<div class="row" ng-controller="main.controller.first as firstCtl">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-header text-center">
                Ajoutez ce qu'il faut dans le controller pour ajouter un élément contenant la date et l'heure à la liste ci-dessous, quand on clique sur le bouton "add item"
            </div>
            <div class="panel-body text-center">
                <button class="btn btn-primary" type="button" ng-click="firstCtl.addItem()">
                    Add item
                </button>
            </div>
            <div class="panel-footer">
                <ul>
                    <li ng-repeat="item in firstCtl.myList track by $index">
                        {{"Elem #" + $index + " : " + item}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="/app/bower_components/angular/angular.js"></script>
<script src="modules/main/index.js"></script>
<script src="modules/main/controllers/first.js"></script>
<script src="app.js"></script>
</body>
</html>
