<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Exercice 4</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

</head>
<body ng-app="app">
<div class="row" ng-controller="main.controller.first as firstCtl">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-header text-center">
                Ajoutez ce qu'il faut dans le controller pour afficher la météo de la ville saisie
            </div>
            <input type="text" ng-model="firstCtl.weatherFct.cityName">
            <div class="panel-body text-center">
                <button class="btn btn-primary" type="button" ng-click="firstCtl.getWeather()">
                    Get city weather
                </button>
            </div>
            <div ng-show="firstCtl.errorMsg">Error : {{ firstCtl.errorMsg}}</div>
            <div class="panel-footer text-center">
                <img ng-src="{{firstCtl.weatherFct.imgUrl}}" />
                <h4 ng-show="firstCtl.weatherFct.temperature">{{ firstCtl.weatherFct.temperature }} °C</h4>
                <h4 ng-show="firstCtl.weatherFct.windSpeed">{{ firstCtl.weatherFct.windSpeed }} km/h</h4>
            </div>

        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="modules/api/index.js"></script>
<script src="modules/api/constants/api.js"></script>
<script src="modules/api/services/request.js"></script>

<script src="modules/main/index.js"></script>
<script src="modules/main/factories/weather.js"></script>
<script src="modules/main/controllers/first.js"></script>


<script src="app.js"></script>
</body>
</html>
